body {
  background: linear-gradient(to bottom, rgb(10, 150, 200), rgb(15, 80, 120)) fixed;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: rgb(10, 150, 200);
  border-color: rgb(10, 150, 200);
}

.btn-primary:hover {
  background-color: rgb(12, 100, 150);
  border-color: rgb(12, 100, 150);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color:rgb(15, 80, 120);
  border-color: rgb(15, 80, 120);
}

a {
  color: rgb(10, 150, 200);
  text-decoration: none;
  text-decoration-style: dashed;
  background-color: transparent; 
}

a:hover {
  color: rgb(12, 100, 150);
  text-decoration: none;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

.nav-item:hover i{
  color: #22ff16;
}

/* Font-awesome */
.folder {
  color:rgb(10, 150, 200);
  font-size: 80px;
}

.font-blue{
  color: rgb(10, 150, 200);
  /*font-size: 18px;*/
  font-size: 1.1rem;
  margin-right: 2px;
}

.padding{
  padding: 0px !important;
}

.margin{
  margin: 0px !important;
}

.card-padding{
  padding: 0px 0px 0px 5px !important;
  margin-bottom: 5px !important;
}

.card:hover {
  margin-top: -.1rem;
  margin-bottom: .1rem;
  box-shadow: 0.1rem 0.1rem 0.75rem 0 rgba(10, 150, 200, 0.3);
}

.card{
  border: 1px solid rgba(10, 150, 200, 0.125) !important;
}

.card-title {
  margin-bottom: 0rem;
}

.card-body {
  padding: 0.5rem;
}

/* CSS sobreescrito */
/* Background del Sidebar */
.default-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(52, 58, 64, 0.9); }

.default-theme .sidebar-wrapper {
  background-color: rgba(52, 58, 64);}

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #f2f2f2; 
  background-color: rgba(32, 52, 72, 0.6);}

/* Botones del Siderbar */
.default-theme .sidebar-wrapper .sidebar-menu li.active a i {
  color: #22ff16 !important;
  border-bottom: 2px solid #22ff16 !important;
}

.default-theme .sidebar-wrapper .sidebar-menu a:hover i{
  color: rgb(10, 150, 200) !important;
  border-bottom: 2px solid  rgb(10, 150, 200) !important;
  /*-webkit-animation: mymove 1s infinite;*/ /* Safari 4.0 - 8.0 */
  /*animation: mymove 1s infinite;*/
}

/* Animaciones a los botones */
/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes mymove {
  /*from {border-bottom: 1px solid #22ff16;}
  to {border-bottom: 1px solid #22ff16;}*/
}
@keyframes mymove {
  /*from {border-bottom: 1px solid #22ff16;}
  to {border-bottom: 2px solid #22ff16;}*/
}


